@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para a barra de rolagem no geral */
/* Estilos da barra vertical */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
  height: 8px; /* Altura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: transparent; /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: #303F73; /* Cor da alça da barra de rolagem */
  border-radius: 6px; /* Arredondamento dos cantos da alça */
}

/* Estilos da barra horizontal (se aplicável) */
::-webkit-scrollbar-track-horizontal {
  background: transparent; /* Cor do fundo da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb-horizontal {
  background: #303F73; /* Cor da alça da barra de rolagem horizontal */
  border-radius: 6px; /* Arredondamento dos cantos da alça */
}